.newsletter {
  padding: 15px;
  color: #fff;
  background-color: #35424a;
}

.newsletter h2 {
  float: left;
}

.newsletter form {
  float: right;
  margin-top: 20px;
}

.newsletter input[type='email'] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

@media (max-width: 768px) {
  .newsletter h2,
  .newsletter form {
    float: none;
    text-align: center;
    width: 100%;
  }
  .newsletter button {
    display: block;
    width: 100%;
  }
  .newsletter input[type='email'] {
    width: 100%;
    margin-bottom: 5px;
  }
}
